<h1 class="w3-panel w3-blue" > Editing Quote</h1>

<%= render 'form', quote: @quote %>

<%= link_to 'Show', @quote , class:"w3-button w3-green w3-round-xlarge" %> |
<%= link_to 'Back', quotes_path , class:"w3-button w3-green w3-round-xlarge"  %>
