<!DOCTYPE html>
<html>
  <head>
    <title>Quote Application</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <nav class="w3-bar w3-white">
  
    <div class="w3-bar w3-blue">
      <a class="w3-bar-block w3-blue" href="/quotes"><h1>Quotes Application</h1></a>
    </div>
    <ul class="w3-bar-block w3-orange" style="width:100%">
      <li><a href="/static_pages/home"><h3>Home</h3></a></li>
      <li><a href="/quotes"><h3>Quotes</h3></a></li>
      <li><a href="/static_pages/help"><h3>Help</h3></a></li>
      <li><a href="/static_pages/about"><h3>About</h3></a></li>
    </ul>
  
    </nav>
    <div>
    <%= yield %>
    
    </div>
  </body>
</html>
